/* TAILWIND */
@layer reset, base, components, utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

@layer reset {
	/*
	  1. Use a more-intuitive box-sizing model.
	*/
	*, *::before, *::after {
	  box-sizing: border-box;
	}
	/*
	  2. Remove default margin
	*/
	* {
	  margin: 0;
	}
	/*
	  3. Allow percentage-based heights in the application
	*/
	html, body {
	  height: 100%;
	}
	/*
	  Typographic tweaks!
	  4. Add accessible line-height
	  5. Improve text rendering
	*/
	body {
	  line-height: 1.5;
	  -webkit-font-smoothing: antialiased;
	}
	/*
	  6. Improve media defaults
	*/
	img, picture, video, canvas, svg {
	  display: block;
	  max-width: 100%;
	}
	/*
	  7. Remove built-in form typography styles
	*/
	input, button, textarea, select {
	  font: inherit;
	}
	/*
	  8. Avoid text overflows
	*/
	p, h1, h2, h3, h4, h5, h6 {
	  overflow-wrap: break-word;
	}
	/*
	  9. Create a root stacking context
	*/
	#root, #__next {
	  isolation: isolate;
	}
}

@font-face {
	font-family: 'Rabbid Highway Sign II';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/rabbid_highway_sign_ii/RabbidHighwaySignII.otf') format('opentype');
}

@font-face {
	font-family: 'Rabbid Highway Sign II';
	font-style: oblique;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/rabbid_highway_sign_ii/RabbidHighwaySignIIObl.otf') format('opentype');
}

@layer base {
	html {
		--bg-color-light: #fcfcfd;
		--bg-color-dark: #08050a;
		--bg-color: var(--bg-color-light);
		background-color: var(--bg-color);

		--text-light: #090b0e;
		--text-dark: #f7f7fd;
		--text-color: var(--text-light);
		color: var(--text-color);

		--color-main: #fd94e6;
		--color-secondary: #f66efa;
		--color-tertiary: #ef6dd9;
		--color-main-dark: #bc40a0;
		--color-main-light: #f9b7eb;

		--dark-main: #ce008a;
		--dark-secondary: #7F19F8;

		--accent-main: #31FFD6;
		--accent-secondary: ##1fdeb8;
		--accent-tertiary: #08fccc;
		--accent-main-dark: #1eb395;
		--accent-main-light: #8afff8;

		--base-font-sans: "MontserratVariable", Montserrat, Avenir, 'Avenir Next LT Pro', Corbel, 'URW Gothic', source-sans-pro, sans-serif;
		--base-font-serif: font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
		--font-display: 'Rabbid Highway Sign II', var(--base-font-sans);
		--font-heading: var(--base-font-sans);
		--card-aspect-ratio: 312 / 265;

		font-family: var(--base-font-sans);

		--brand-shadow: 0.08rem 0.08rem 0 rgb(0 0 0 / 18%);

		--spacing-main: 60rem;
	}

	*::selection {
		background: var(--accent-main-light, default);
		color: #000;
	}

	my-form input, 
	my-form textarea, 
	my-form select, 
	my-form option,
	.my-form-input {
		display: block;
		width: 100%;
		padding: 0.25rem;
		background-color: #fff;
		color: black;
	}

	my-form input[readonly], .my-form-input[readonly] {
		background-color: var(--gray-2)
	}

	my-form input:not([type="file"]), my-form select, my-form textarea, .my-form-input {
		outline: 2px solid #ccc;
	}

	my-form select:focus, my-form input:focus, my-form textarea:focus, .my-form-input:focus {
		outline: 3px solid var(--color-main);
	}

	button.edit-readonly {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		background: none;
		border: none;
		opacity: 0.5;
		color: black;
		line-height: 1;
	}

	button.edit-readonly:hover {
		opacity: 1;
	}

	my-form label {
		display: block;
		font-weight: 600;
		font-family: var(--font-heading);
	}

	my-form label.required::after {
		content: ' *';
		color: var(--red-9);
	}

	my-form input[type='checkbox'], .my-form-checkbox {
		display: inline-block;
		width: auto;
	}

	my-form input[type='checkbox'] + label, .my-form-checkbox + label {
		display: inline-block;
		font-weight: 400;
	}

	my-form fieldset label {
		display: inline-block;
		font-size: 0.9em;
		font-weight: 500;
	}

	my-form input[type='file'] {
		display: flex;
		flex-direction: column;
		font-family: var(--font-heading);
		padding-inline: 0;
	}

	my-form input[type='file'] + img.preview {
		max-width: 20rem;
		object-fit: contain;
		margin: 0;
	}

	my-form input::file-selector-button {
		text-shadow: var(--brand-shadow);
		font-family: var(--font-heading);
		padding: 0.5rem;
		font-weight: 500;
		margin-bottom: 0.5rem;
		display: block;
		border: 1px solid #ccc;
		background: var(--color-tertiary);
		cursor: pointer;
		color: white;
		transition: background 0.2s ease;
		content: 'Choose a file';
	}

	my-form input::file-selector-button:hover {
		background: var(--color-secondary);
	}

	.input-group {
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		width: 100%;
	}

	my-form button {
		font-family: var(--font-heading);
		padding: 0.5rem;
		display: block;
		border: 1px solid #ccc;
		background: var(--color-tertiary);
		cursor: pointer;
		color: white;
		transition: background 0.2s ease;
		text-shadow: var(--brand-shadow);
	}

	my-form textarea {
		height: 100px;
	}

	my-form button:hover {
		background-color: var(--color-secondary);
	}

	my-form button[type='submit'] {
		font-weight: 700;
		text-transform: uppercase;
		background-color: var(--color-tertiary);
	}

	my-form fieldset {
		/*fieldset: 'border border-gray-300 p-4 w-full grid gap-8',*/
		border: 1px solid #ccc;
		padding: 1rem;
		width: 100%;
		display: grid;
		gap: 1rem;
	}

	my-form legend {
		font-weight: 600;
		font-size: 1rem;
	}
}

@keyframes spin {
	0% {
		scale: 1;
		rotate: 0deg;
	}
	50% {
		scale: 1.4;
	}
	100% {
		rotate: 360deg;
	}
}

@keyframes shine {
	0% {
		
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes loading-elipses {
	0% {
		content: '';
	}
	25% {
		content: '.';
	}
	50% {
		content: '..';
	}
	75% {
		content: '...';
	}
	100% {
		content: '';
	}
}

@keyframes fade-in {
	from { opacity: 0; }
}

@keyframes fade-out {
	to { opacity: 0; }
}

@keyframes slide-from-right {
	from { transform: translateX(90px); }
}

@keyframes slide-to-left {
	to { transform: translateX(-90px); }
}

@keyframes grow {
	from { transform: scaleY(0); }
	to { transform: scaleY(1); }
}

@keyframes shrink {
	from { transform: scaleY(1); }
	to { transform: scaleY(0); }
}

@layer components {
	.slide-it {
		view-transition-name: slide-it;
	}

   ::view-transition-old(slide-it) {
     animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
     600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
   }
   ::view-transition-new(slide-it) {
     animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
     600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
   }

	sort-table {
		display: block;
	}

	sort-table table {
		table-layout: fixed;
		text-align: center;
		width: 100%;
	}

	sort-table th:not([data-no-sort]) {
		cursor: pointer;
	}

	sort-table tbody td {
		font-weight: 500;
		padding: 1.5rem;
		position: relative;
	}

	sort-table.compact tbody td {
		padding: 0.5rem;
	}

	sort-table tbody td span {
		position: relative;
	}

	sort-table tbody td [astro-icon] {
		width: 3rem;
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	sort-table tbody tr:nth-child(even) [astro-icon] {
		color: lightgray;
	}

	sort-table tbody tr:nth-child(even) {
		background-color: var(--pink-1)
	}

	sort-table tbody tr:nth-child(odd) {
		background-color: var(--gray-3)
	}

	sort-table th[data-mode='ascending']::after {
		content: '▲';
	}

	sort-table th[data-mode='descending']::after {
		content: '▼';
	}

	.visually-hidden {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	.page-heading {
		font-size: 2rem;
		line-height: 2.25rem;
		font-family: var(--font-heading);
		font-weight: 700;
		text-transform: uppercase;
		margin: 0.5rem 0;
	}

	.sub-heading {
		font-size: 1.5rem;
		line-height: 1.3rem;
		font-family: var(--font-heading);
		font-weight: 500;
		text-transform: uppercase;
		margin: 0.5rem 0;
	}

	.button-link {
		text-shadow: var(--brand-shadow);
		font-size: 1.2rem;
		background-color: var(--color-tertiary);
		padding: 0.5em 0.8em 0.3em;
		vertical-align: middle;
		width: max-content;
		font-family: var(--font-display);
		text-transform: lowercase;
		font-style: italic;
		height: fit-content;
		color: #fff;
	}

	.post-button {
		text-shadow: var(--brand-shadow);
		font-weight: 700;
		padding: 0.5rem 1rem;
		transition: background-color 0.3s ease-out;
		text-transform: uppercase;
	}

	.post-button[data-type="submit"] {
		background-color: var(--color-tertiary);
		color: #fff;
	}

	.post-button[data-type="submit"]:hover {
		background-color: var(--color-secondary);
	}

	.post-button[data-type="delete"],
	.post-button[data-type="error"] {
		background-color: var(--red-6);
		color: #fff;
	}

	.post-button[data-type="delete"]:hover,
	.post-button[data-type="error"]:hover {
		background-color: var(--red-9);
	}

	.post-button[data-type="success"] {
		background-color: var(--teal-6);
		color: #fff;
	}

	.post-button[data-type="success"]:hover {
		background-color: var(--teal-9);
	}

	.htmx-indicator {
		transition: none;
		display: none;
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.5);
		color: black;
	}

	.htmx-request .htmx-indicator {
		display: flex;
	}

	.htmx-indicator::after {
		animation: loading-elipses 3s infinite;
		content: '';
	}

	.page-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.3rem 2rem;
		width: 100%;
		margin-bottom: 1rem;
	}

	.alert-text-box {
		padding: 1rem;
		background-color: var(--red-2);
		color: var(--red-12);
		display: flex;
		justify-content: space-between;
		align-items: center;

		view-transition-name: alert-grow-shrink;
	}

	.alert-text-box button {
		font-size: 1.2em;
	}

	.alert-text-box[data-type="error"] {
		background-color: var(--red-2);
		color: var(--red-12);
	}

	.alert-text-box[data-type="success"] {
		background-color: var(--teal-2);
		color: var(--teal-12);
	}

	::view-transition-old(alert-grow-shrink) {
		transform-origin: top;
		animation: 500ms cubic-bezier(0.4, 0, 1, 1) both shrink;
	}
	::view-transition-new(alert-grow-shrink) {
		transform-origin: top;
		animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both grow;
	}
}

@layer utilities {
	.absolute-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.spin {
		animation: spin 3s linear infinite;
	}

	.shine {
		position: relative;
	}

	.shine::after {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		border-radius: inherit;
		background-repeat: no-repeat;
		position: absolute;
		inset: 0;
		background-image: linear-gradient(135deg,#fff0 25%,rgba(255,255,255,.2) 50%,#fff0 75%);
		background-size: 300%;
		background-position: 120%;
	}

	.shine:hover::after {
		transition: background-position 0.3s ease-out;
		background-position: 0;
		opacity: 1;
	}

	.text-shadow {
		text-shadow: var(--brand-shadow);
	}

	.no-text-shadow {
		text-shadow: none;
	}

	.brand-shadow {
		filter: drop-shadow(var(--brand-shadow));
	}

	.brand-box-shadow {
		box-shadow: var(--brand-shadow);
	}

	.preserve-3d {
		transform-style: preserve-3d;
	}

	.flipped {
		transform: rotateY(180deg);
	}

	.backface-hidden {
		backface-visibility: hidden;
	}
}
