# dependencies
node_modules

# sst
.sst
.build

# misc
.DS_Store

# local env files
.env*.local


## Astro
# build output
dist/
# generated types
.astro/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# environment variables
.env
.env.production

dist-ssr
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
