/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Rabbid Highway Sign II';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/rabbid_highway_sign_ii/RabbidHighwaySignII.otf') format('opentype');
}

@font-face {
	font-family: 'Rabbid Highway Sign II';
	font-style: oblique;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/rabbid_highway_sign_ii/RabbidHighwaySignIIObl.otf') format('opentype');
}

@font-face {
	font-family: 'Mont';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('/fonts/mont/Mont-ExtraLightDEMO.otf') format('opentype');
}

@font-face {
	font-family: 'Mont';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('/fonts/mont/Mont-HeavyDEMO.otf') format('opentype');
}

@layer base {
	a {
		text-decoration: underline;
	}

	input {
		background: #fff;
	}

	button {
		background: #fff;
	}
}

@keyframes spin {
	0% {
		scale: 1;
		rotate: 0deg;
	}
	50% {
		scale: 1.4;
	}
	100% {
		rotate: 360deg;
	}
}

@layer utilities {
	.absolute-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.spin {
		animation: spin 3s linear infinite;
	}
}
