/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a {
		text-decoration: underline;
	}

	input {
		background: #fff;
	}

	button {
		background: #fff;
	}
}

@keyframes spin {
	0% {
		scale: 1;
		rotate: 0deg;
	}
	50% {
		scale: 1.4;
	}
	100% {
		rotate: 360deg;
	}
}

@layer utilities {
	.absolute-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.spin {
		animation: spin 3s linear infinite;
	}
}
