/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Rabbid Highway Sign II';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/rabbid_highway_sign_ii/RabbidHighwaySignII.otf') format('opentype');
}

@font-face {
	font-family: 'Rabbid Highway Sign II';
	font-style: oblique;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/rabbid_highway_sign_ii/RabbidHighwaySignIIObl.otf') format('opentype');
}

@layer base {
	html {
		--color-main: #fd94e6;
		--color-secondary: #f66efa;
		--color-tertiary: #ef6dd9;
		--color-main-dark: #bc40a0;
		--color-main-light: #f9b7eb;

		--accent-main: #31FFD6;
		--accent-secondary: ##1fdeb8;
		--accent-tertiary: #08fccc;
		--accent-main-dark: #1eb395;
		--accent-main-light: #8afff8;

		--base-font-sans: "MontserratVariable", Montserrat, Avenir, 'Avenir Next LT Pro', Corbel, 'URW Gothic', source-sans-pro, sans-serif;
		--base-font-serif: font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
		--font-display: 'Rabbid Highway Sign II', var(--base-font-sans);
		--font-heading: var(--base-font-sans);

		font-family: var(--base-font-sans);
	}

	*::selection {
		background: var(--accent-main-light, default);
		color: #000;
	}
}

@keyframes spin {
	0% {
		scale: 1;
		rotate: 0deg;
	}
	50% {
		scale: 1.4;
	}
	100% {
		rotate: 360deg;
	}
}

@keyframes shine {
	0% {
		
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@layer utilities {
	.absolute-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.spin {
		animation: spin 3s linear infinite;
	}

	.shine {
		position: relative;
	}

	.shine::after {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		border-radius: inherit;
		background-repeat: no-repeat;
		position: absolute;
		inset: 0;
		background-image: linear-gradient(135deg,#fff0 25%,rgba(255,255,255,.2) 50%,#fff0 75%);
		background-size: 300%;
		background-position: 120%;
	}

	.shine:hover::after {
		transition: background-position 0.3s ease-out;
		background-position: 0;
		opacity: 1;
	}

	.text-shadow {
		text-shadow: 0.08rem 0.08rem 0 rgb(0 0 0 / 18%);
	}

	.brand-shadow {
		filter: drop-shadow(0.08rem 0.08rem 0 rgb(0 0 0 / 18%));
	}

	.brand-box-shadow {
		box-shadow: 0.08rem 0.08rem 0 rgb(0 0 0 / 18%);
	}

	.visually-hidden {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	.page-heading {
		font-size: 2.25rem/* 36px */;
		line-height: 2.5rem/* 40px */;
		font-family: var(--font-heading);
		font-weight: 700;
		text-transform: uppercase;
		margin: 0.5rem 0;
	}

	.button-link {
		@apply text-xl bg-brand-tertiary p-3 px-4 text-center w-max font-display lowercase italic shine pt-4 text-shadow text-white
	}
}
