@layer reset, base, components, utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

body.disable-animations * {
  transition: none !important;
  animation: none !important;
  view-transition-name: none !important;
}

@font-face {
  font-family: 'Rabbid Highway Sign II';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/rabbid_highway_sign_ii/RabbidHighwaySignII.otf') format('opentype');
}

@font-face {
  font-family: 'Rabbid Highway Sign II';
  font-style: oblique;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/rabbid_highway_sign_ii/RabbidHighwaySignIIObl.otf') format('opentype');
}

@layer base {
  :root {
    --font-sans: 'Montserrat Variable', Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-display: 'Rabbid Highway Sign II', var(--font-sans);
    --font-heading: var(--font-sans);
    --card-aspect-ratio: 312 / 265;

    font-family: var(--font-sans);
    font-size: clamp(0.75rem, 1.5vw, 1rem);

    --brand-shadow: 0.08rem 0.08rem 0 rgb(0 0 0 / 18%);
    --spacing-main: 90rem;
  }

  :root * {
    transition:
      color 50ms ease-in-out,
      background-color 50ms ease-in-out,
      border-color 50ms ease-in-out,
      box-shadow 50ms ease-in-out;
  }

  *::selection {
    background: theme('colors.accent.200');
    color: #000;
  }
}

@keyframes spin {
  0% {
    scale: 1;
    rotate: 0deg;
  }

  50% {
    scale: 1.4;
  }

  100% {
    rotate: 360deg;
  }
}

@keyframes shine {
  0% {}

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loading-elipses {
  0% {
    content: '';
  }

  25% {
    content: '.';
  }

  50% {
    content: '..';
  }

  75% {
    content: '...';
  }

  100% {
    content: '';
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(90px);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-90px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-90px);
  }
}

@keyframes slide-to-right {
  to {
    transform: translateX(90px);
  }
}

@keyframes grow {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes shrink {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}

@keyframes stamp {
  0% {
    scale: 4;
    opacity: 0%;
    filter: blur(6px);
  }

  100% {
    scale: 1;
    opacity: 80%;
    filter: blur(0px);
  }
}

@layer components {
  .slide-forward {
    view-transition-name: slide-forward;
  }

  .slide-back {
    view-transition-name: slide-back;
  }

  ::view-transition-old(open-packs-title) {
    animation:
      180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }

  ::view-transition-new(open-packs-title) {
    animation:
      420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }

  ::view-transition-old(slide-forward) {
    animation:
      180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }

  ::view-transition-new(slide-forward) {
    animation:
      420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }

  ::view-transition-old(slide-back) {
    animation:
      180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
  }

  ::view-transition-new(slide-back) {
    animation:
      420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
  }

  ::view-transition-old(alert-grow-shrink) {
    transform-origin: top;
    animation: 500ms cubic-bezier(0.4, 0, 1, 1) both shrink;
  }

  ::view-transition-new(alert-grow-shrink) {
    transform-origin: top;
    animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both grow;
  }
}

@layer utilities {
  .shine {
    position: relative;
  }

  .shine::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    border-radius: inherit;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    background-image: linear-gradient(135deg,
        #fff0 25%,
        rgba(255, 255, 255, 0.2) 50%,
        #fff0 75%);
    background-size: 300%;
    background-position: 120%;
  }

  .shine:hover::after {
    transition: background-position 0.3s ease-out;
    background-position: 0;
    opacity: 1;
  }

  .text-shadow-brand {
    text-shadow: var(--brand-shadow);
  }

  .text-outline {
    text-shadow:
      1px -1px 1px theme('colors.gray.500'),
      -1px 1px 1px theme('colors.gray.500'),
      1px 1px 1px theme('colors.gray.500'),
      -1px -1px 1px theme('colors.gray.500');
  }

  .text-outline-dark {
    text-shadow:
      1px -1px 1px theme('colors.gray.600'),
      -1px 1px 1px theme('colors.gray.600'),
      1px 1px 1px theme('colors.gray.600'),
      -1px -1px 1px theme('colors.gray.600');
  }

  .no-text-shadow {
    text-shadow: none;
  }

  .brand-shadow {
    filter: drop-shadow(var(--brand-shadow));
  }

  .brand-box-shadow {
    box-shadow: var(--brand-shadow);
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .flipped {
    transform: rotateY(180deg);
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .card-aspect-ratio {
    aspect-ratio: 77 / 107;
  }

  .w-card {
    width: 18rem;
  }

  .view-transition-alert {
    view-transition-name: alert-grow-shrink;
  }

  .required::after {
    content: ' *';
    color: theme('colors.red.600');
  }

  .visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-narrow::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  .scrollbar-narrow::-webkit-scrollbar-thumb {
    background-color: var(--custom-scrollbar-color, theme('colors.gray.400'));
    cursor: pointer;
    border-radius: 0.25rem;
  }

  html.dark .scrollbar-narrow::-webkit-scrollbar-thumb {
    --custom-scrollbar-color: theme('colors.gray.600');
  }

  .scrollbar-brand::-webkit-scrollbar-thumb {
    --custom-scrollbar-color: theme('colors.brand.400');
  }

  html.dark .scrollbar-brand::-webkit-scrollbar-thumb {
    --custom-scrollbar-color: theme('colors.brand.700');
  }
}
