.outer {
	width: max-content;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.3s, scale 0.3s;
	perspective: 900px;
	z-index: 1;

	--shine-opacity: 0.2;
	--shine-position: 50%;
	--shine-after-opacity: 0;
}

.outer:hover {
	scale: 1.1;
	transform: translateZ(300px);
}

.inner::after,
.inner::before {
	transform: translateZ(200px);
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 1;
	content: '';

	background-position: var(--shine-position) 0%;
	opacity: var(--shine-after-opacity);
	transition: opacity 0.5s;
	background-repeat: no-repeat;
}

.inner::after {
	--shine-level: clamp(0.05, calc(0.1 * var(--shine-opacity)), 1);
	background-size: 200% 200%;
	background-image: radial-gradient(
		ellipse at center,
		rgba(255, 255, 255, var(--shine-level)) 0%,
		#fff0 100%
	);
}

.inner.shiny::before {
	--adjusted: calc(var(--shine-opacity) - 0.5);
	--sq: calc(1 - 3 * var(--adjusted) * var(--adjusted));
	--shine-level: clamp(0.1, calc(0.6 * var(--sq)), 0.7);
	background-size: 300% 110%;
	background-image: linear-gradient(
		110deg,
		#fff0 0%,
		hsl(calc(var(--shine-opacity) * 360) 100% 95% / 25%) 20%,
		#fff3 30%,
		hsl(calc(var(--shine-opacity) * 360) 100% 95% / var(--shine-level)) 50%,
		rgb(255 255 255 / var(--shine-level)) 55%,
		hsl(calc(var(--shine-opacity) * 360 + 180) 100% 95% / var(--shine-level)) 65%,
		#fff3 100%
	);
}
